# # bytedtos==1.1.14
# click==8.1.3
# datasets==2.13.1
# # euler==0.0.2
# icu_tokenizer==0.0.1
# ipython==8.7.0
# joblib==1.2.0
# # lang_detect==1.0.4
# laplace==0.1
# matplotlib==3.7.1
# nltk==3.8.1
# # numpy==1.24.2
# # openai==1.11.1
# # pandas==1.5.3
# pyarrow
# Requests==2.31.0
# sacrebleu==2.3.1
# scikit_learn
# thriftpy2==0.4.17
# tiktoken==0.5.1
# # torch==1.13.1
# tqdm==4.64.1
# transformers==4.25.1
# ujson==5.6.0
# urllib3==1.26.14
# volcengine==1.0.100
# openpyxl==3.0.10

Basis==0.1.0
click==8.1.3
debugger==1.3
icu_tokenizer==0.0.1
# matplotlib==3.8.3
numpy==1.26.4
openai==1.13.3
OpenAI==1.13.3
pandas
Requests==2.31.0
sacrebleu==2.3.1
scikit_learn==1.4.0
tqdm==4.66.1
ujson==5.6.0

